DATABASE_URI="sqlite:///database.db"
SECRET_KEY="YouShouldChangeThisSecretKeyToSomethingLongAndRandom"
ENV="development"
AI_API_KEY=""
AI_BASE_URL="https://ai-gen.sundaebytestt.com/v1"
AI_MODEL="meta/llama-3.2-3b-instruct"
AI_TIMEOUT_SEC="4"
